{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}Microblog{% endblock title %}

{% block content %}
<h1>List of Recent Posts</h1>
{% if post_list %}
	
		{% for post in post_list %}
			{% include 'microblog/_post.html' %}
			{% if not forloop.last %}
				<hr style="border-top: 1px solid black;">
			{% endif %}
		{% endfor %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{%else %}
	<p>Apologies for the inconvenience. No posts to show.</p>

{% endif %}
{% endblock content %}
