{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}All Recent Posts{% endblock title %}

{% block content %}
<h1>Welcome to Twitterclone!
{% if request.user.is_authenticated %}
    <button style="float:right;" class="btn btn-primary"> <a style="color:white" href="{% url 'microblog:myfeed' %}">My Feed</a></button>
    <form action="{% url 'microblog:addpost' %}" method="post">
      {% csrf_token %}
      <table class="table">
      {{ form }}
      </table>
      <button type="submit" class="btn btn-primary">Add Post</button>
    </form>
    {% endif %}</h1>
<hr>
{% if post_list %}
	
		{% for post in post_list %}
			{% include 'microblog/_post.html' %}
    			{% if not forloop.last %}
    			<hr class="postdivider">
    			{% endif %}
		{% endfor %}
{%else %}
	<p>Apologies for the inconvenience. No posts to show.</p>

{% endif %}
{% endblock content %}


