{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}@{{ profile.user.username }}'s Profile{% endblock %}

{% block content %}
<h1>@{{ profile.user.username }}'s Profile
{% if request.user.is_authenticated %}
    <form action="{% url 'microblog:addpost' %}" method="post">
      {% csrf_token %}
      <table class="table">
      {{ form }}
      </table>
      <button style="float:right; margin-top:-64px;" type="submit" class="btn btn-primary">Add Post</button>
    </form>
    {% endif %}
</h1>

<div class="profiledetail">
    {% if profile.profile_picture %} 
        {% thumbnail profile.profile_picture "160x160" crop="center" as im %}
        <img src="{{ im.url }}" width="160" height="160" class="profilepic">
        {% endthumbnail %}
    {% else %}
        <img src="http://www.thehendonmob.com/media/Image/authors/unknown_poker_player_300.jpg" width="160" height="160" class="profilepic">
    {% endif %}
{% if request.user.is_authenticated %}
		{% ifequal request.user profile.user %}		
		{% else %}
				{% if folow_profile not in profile.following.all %}
				<form action="{% url 'microblog:follow' profile.id %}" method="post">
				{%csrf_token %}
				<button class="btn btn-primary">Follow {{ profile }}</button>
			</form>
			{% endif %}
		{% endifequal %}
	{% endif %}


    <div class="bio">
	<h4>Bio:</h4>
        <p>
        {{ profile.bio }}
        </p>
        <p>Member of Twitterclone since: {{ profile.user.date_joined|date:"d M, Y" }}</p>
    </div>
    {% if profile.following.all %}
    <div class="following">
        <h4>Following:</h4>
        <ul style="list-style-image: url({{ profile.profile_picture }});">
            {% for follow_profile in profile.following.all %}
                <li><a href="{% url 'microblog:profiledetail' follow_profile.user.id %}">@{{ follow_profile.user.username }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
<hr>
<div class="recentposts">
<h3>Last 10 posts</h3>
{% for post in profile.post_set.all|slice:":10" %}

    {% include 'microblog/_post.html' %}
    {% if not forloop.last %}
    <hr class="postdivider">
    {% endif %}
{% empty %}
    <p>@{{ profile.user.username }} has not posted anything on Twitterclone yet.</p>

{% endfor %}
{% endblock %}
