{% extends 'base.html' %}
{% block title %}Call Logs{% endblock %}
{% block content %}
<h1>Call Logs </h1>
  <a class="btn btn-success" style="background:#009688; margin-top:-45px; float:right;" href="{% url 'crm:calllog_create' %}">Add a New Call Log</a>
<div class="list-group">
    {% if calllog_list %}
    {% for calllog in calllog_list %}
      <a class="list-group-item" href="{% url 'crm:calllog_detail' calllog.id %}">{{ calllog }}</a>
    {% endfor %}
    {% else %}
	<p>No call logs to list.</p>
    {% endif %}
</div>
{% endblock %}
