{% extends 'base.html' %}

{% block title %}Campaigns{% endblock %}

{% block content %}
<h1>Campaigns</h1>
  <a class="btn btn-success" style="background:#009688; margin-top:-45px; float:right;" href="{% url 'crm:campaign_create' %}">Add a New Campaign</a>

  <div class="list-group">
    {% if campaign_list %}
    {% for campaign in campaign_list %}
    <a class="list-group-item" href="{% url 'crm:campaign_detail' campaign.id %}">{{ campaign }}</a>
    {% endfor %}
    {% else %}
    <p>No campaigns to list.</p>
    {% endif %}
  </div>

{% endblock %}
