{% extends 'base.html' %}

{% block title %}Companies{% endblock %}

{% block content %}
    <div class="row">
	<div class="col-lg-6">
	    <div class="panel panel-primary">
		<div class="panel-heading" style="background:#03a9f4;">	
		   Company List
		</div>
	    	<div class="panel-body">
                    <table class="table">
    {% if company_list %}
<table>
<tbody>
    {% for company in company_list %}
      <tr><td><a href="{% url 'crm:company_detail' company.id %}">{{ company.name }}</a><td></tr>
    {% endfor %}
{% else %}
        <p>No companies to list.</p>
    {% endif %}
</tbody>
		    </table>
		    <div class="pull-right">
			<a href="{% url 'crm:company_create' %}" class="btn btn-primary btn-fab btn-raised mdi-content-add-box text-right"></a>
		    </div>
		</div>
	    </div>
	</div>
    </div>
{% endblock content %}
