{% extends 'base.html' %}

{% block title %}Company {{ company.name }}{% endblock %}

{% block content %}

        <div class="col-lg-6">
            <div style="color:white; margin:13px;" class="pull-right"><a style="color:white;" href="{% url 'crm:company_update' company.id %}">Edit </a>|<a style="color:white;" href="{% url 'crm:company_delete' company.id %}"> Delete</a></div>
            <div class="panel panel-primary">
                <div class="panel-heading"  style="background:#03a9f4;">
                    {{ company }}
                </div>
                <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>Website</td>
                        <td>{{ company.website }}</td>
                    </tr>
                    <tr>
                        <td>Address 1</td>
                        <td>{{ company.address1 }}</td>
                    </tr>
                    <tr>
                        <td>Address 2</td>
                        <td>{{ company.address2 }}</td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>{{ company.city }}</td>
                    </tr>
                    <tr>
                        <td>State</td>
                        <td>{{ company.state }}</td>
                    </tr>
                    <tr>
                        <td>Zipcode</td>
                        <td>{{ company.zipcode }}</td>
                    </tr>
                    <tr>
                        <td>Country</td>
                        <td>{{ company.country }}</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>{{ company.phone }}</td>
                    </tr>
                        </table>
<a class="btn btn-success" style="background:#009688; float:right;" href="{% url 'crm:company_list' %}">Return to Company List</a>
        </div>
</div>
</div>
{% endblock %}
