{% extends 'base.html' %}

{% block title %}Contact {{ contact.name }}{% endblock %}

{% block content %}
        <div class="col-lg-6">
                      <div style="color:white; margin:13px;" class="pull-right"><a style="color:white;" href="{% url 'crm:contact_update' contact.id %}">Edit </a>|<a style="color:white;" href="{% url 'crm:contact_delete' contact.id %}"> Delete</a></div>
            <div class="panel panel-primary">
                <div class="panel-heading"  style="background:#03a9f4;">
                    {{contact}}
                </div>

                <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>Company</td>
                        <td>{{ contact.company }}</td>
                    </tr>
                    <tr>
                        <td>First Name</td>
                        <td>{{ contact.first_name }}
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td>{{ contact.last_name }}</td>
                    </tr>
                    <tr>
                        <td>Address 1</td>
                        <td>{{ contact.address1 }}</td>
                    </tr>
                    <tr>
                        <td>Address 2</td>
                        <td>{{ contact.address2 }}</td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>{{ contact.city }}</td>
                    </tr>
                    <tr>
                        <td>State</td>
                        <td> {{ contact.state }}</td>
                    </tr>
                    <tr>
                        <td>Country</td>
                        <td>{{ contact.country }}</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>{{ contact.phone }}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{ contact.email }}</td>
                    </tr>

                </table>
</div>
</div>
<a class="btn btn-success" style="background:#009688; float:right;" href="{% url 'crm:contact_list' %}">Return to Contact List</a>

{% endblock %}
