{% extends 'base.html' %}
{% load widget_tweaks %}
{% load crm_extras %}

{% block title %}{% if stage %}Upate Stage {{ stage.name }} {% else %} Create a New Call Log{% endif %}{% endblock %}

{% block content %}

{{ stage|to_class_name }}
{{ calllog|to_class_name }}

<div class="well bs-component">
  <form class="form-horizontal" action="." method="post" role="form">
    {% csrf_token %}
    <fieldset>
      <legend class="col-lg-offset-1">{% if stage %}Upate Stage {{ stage.name }} {% else %} Create a New Stage {% endif %}</legend>
    {% for field in form %}
    <div class="form-group">
      <div class="col-lg-2 control-label">
        {{ field.label_tag }}
      </div>
      <div class="col-lg-10">
        {% render_field field class+="form-control" %}
        <span class="text-success helper-block">{{ field.help_text }}</span>
      </div>
    </div>
    {% endfor %}
    <button class="col-lg-offset-10 col-lg-2 btn btn-primary">{% if stage %}Upate {% else %} Create {% endif %}</button>
    </fieldset>
  </form>
</div>

{% endblock %}
