{% extends 'base.html' %}
{% block title %}Opportunities{% endblock title %}
{% block content %}
    <div class="row">
	<div class="col-lg-8">
	     <div class="panel panel-primary">
		<div class="panel-heading" style="background:#03a9f4;">	
		    Opportunity List
		</div>
	    	<div class="panel-body">
                    {% if opportunity_list %}
		    <table class="table">
                        <thead>
                            <tr>
                                <th>Opportunity</th>
                                <th>Stage</th>
                                <th>Value</th>
				<th>Source</th>
				<th>User</th>
                                <th>Creation Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for opp in opportunity_stages %}
				<tr>
				    <td><a href="{% url 'crm:opportunity_detail' opp.opportunity.id %}" class="text-info">{{ opp.opportunity.company }}</a></td>
				    <td>{{ opp.stage }}</td>
				    <td>${{ opp.opportunity.value }}</td>
				    <td>{{ opp.opportunity.source }}</td>
				    <td>{{ opp.opportunity.user }}</td>
				    <td>{{ opp.time_stamp|date:"j M Y" }}</td>
				</tr>
			    {% endfor %}
			</tbody>
			{% else %}
			   <p>No opportunities to list.</p>
			    {% endif %}

		    </table>
		    <div class="pull-right">
			 <a class="btn btn-primary btn-fab btn-raised mdi-content-add-box text-right" href="{% url 'crm:opportunity_create' %}"></a>
		    </div>
		</div>
	    </div>
	</div>
    </div>
{% endblock content %}
