{% extends 'base.html' %}

{% block title %}Reminder {{ reminder.name }}{% endblock %}

{% block content %}
<div class="col-lg-6">
  	<div style="color:white; margin:13px;" class="pull-right"><a style="color:white;" href="{% url 'crm:reminder_update' reminder.id %}">Edit </a>|<a style="color:white;" href="{% url 'crm:reminder_delete' reminder.id %}"> Delete</a></div>
            <div class="panel panel-primary">
                <div class="panel-heading"  style="background:#03a9f4;">
                    {{reminder}}
                </div>

                <div class="panel-body">

<table class="table">
                    <tr>
                        <td>Opportunity</td>
                        <td>{{ reminder.opportunity }}</td>
                    </tr>
                    <tr>
                        <td>Date</td>
                        <td>{{ reminder.date }}</td>
                    </tr>
                    <tr>
                        <td>Note</td>
                        <td>{{ reminder.note }}</td>
                    </tr>
                    <tr>
                        <td>Completed</td>
                        <td>{{ reminder.completed }}</td>
                    </tr>
                </table>
<a class="btn btn-success" style="background:#009688; float:right;" href="{% url 'crm:reminder_list' %}">Return to Reminder List</a>
</div>
</div>
{% endblock %}
