{% extends 'base.html' %}
{% block tiitle %}Reports{% endblock %}
{% block content %}

<div class="row">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading" style="background:#03a9f4;">
                    Report List
                </div>
                <div class="panel-body">
                <table class="table">
			<tr><td><a href="https://www.hrw.org/world-report/2015">Human Rights Watch</a></td></tr>
			<tr><td><a href="http://colleges.usnews.rankingsandreviews.com/best-colleges">Best Colleges</a></td></tr>
			<tr><td><a href="http://www.usnews.com/opinion/blogs/world-report">US News</a></td></tr>
			<tr><td><a href="http://www.worldbank.org/en/publication/wdr2015">World Development</a></td></tr>
			<tr><td><a href="https://freedomhouse.org/report/freedom-world/freedom-world-2015#.Vmd3J3UViko">Freedom</a></td></tr>
			<tr><td><a href="http://www.weforum.org/reports">World Economic Forum</a></td></tr>
			<tr><td><a href="http://hdr.undp.org/en/rethinking-work-for-human-development">Human Development</a></td></tr>
			<tr><td><a href="http://www.doingbusiness.org/~/media/GIAWB/Doing%20Business/Documents/Annual-Reports/English/DB15-Chapters/DB15-Report-Overview.pdf">Going Beyond Efficiency</a><td></tr>
			<tr><td><a href="https://github.com/jchapm17">Our Github Repo</a></td></tr>
		</thead>
		</table>
		</div>
	</div>
</div>
{% endblock %}
