{% extends 'base.html' %}

{% block title %}Stage {{ stage.name }}{% endblock %}

{% block content %}
        <div class="col-lg-6">
            <div style="color:white; margin:13px;" class="pull-right"><a style="color:white;" href="{% url 'crm:stage_update' stage.id %}">Edit </a>|<a style="color:white;" href="{% url 'crm:stage_delete' stage.id %}"> Delete</a></div>
            <div class="panel panel-primary">
                <div class="panel-heading"  style="background:#03a9f4;">
                    {{stage }}
                </div>
                <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>Order #</td>
                        <td>{{ stage.order }}</td>
                    </tr>
                    <tr>
                        <td>Phase</td>
                        <td>{{ stage.name }}</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>{{ stage.description }}</td>
                    </tr>
                    <tr>
                        <td>Value</td>
                        <td>{{ stage.value }}</td>
                    </tr>

			</table>

<a class="btn btn-success" style="background:#009688; float:right;" href="{% url 'crm:stage_list' %}">Return to Stage List</a>
</div></div>
</div>
{% endblock %}
