{% extends 'base.html' %}
{% block title %}Stages{% endblock title %}
{% block content %}
    <div class="row">
	<div class="col-lg-6">
	    <div class="panel panel-primary">
		<div class="panel-heading" style="background:#03a9f4;">	
		    Stage List
		</div>
	    	<div class="panel-body">
		  {% if stage_list %}
                   <table class="table">
                        <tbody>
                            {% for stage in stage_list %}
				 <tr>
				     <td>
					 <a href="{% url 'crm:stage_detail' stage.id %}">{{ stage.name }}</a>
				    <td>
				</tr>
			    {% endfor %}
			{% else %}
                        <p>No stages to list.</p>
                        {% endif %}
			</tbody>
		    </table>
		    <div class="pull-right">
			<a class="btn btn-primary btn-fab btn-raised mdi-content-add-box text-right" href="{% url 'crm:stage_create' %}"></a>
		    </div>
		</div>
	    </div>
	</div>
    </div>
{% endblock content %}
